<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240527606516-c0o88ljeba85r1m6563te27fq49bt3ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240527606516-c0o88ljeba85r1m6563te27fq49bt3ia</string>
	<key>API_KEY</key>
	<string>AIzaSyAtgmxCIRw9ESN838uY6OxUkTmWvwTNPe0</string>
	<key>GCM_SENDER_ID</key>
	<string>240527606516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aj.CalorieApp</string>
	<key>PROJECT_ID</key>
	<string>calorieapp-5bb03</string>
	<key>STORAGE_BUCKET</key>
	<string>calorieapp-5bb03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240527606516:ios:1b98270b083ae0a2f0d4a1</string>
</dict>
</plist>